*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
  -webkit-tap-highlight-color: transparent;
}

html{
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  background-image: linear-gradient(
    to bottom,
    var(--clr),
    var(--clr2)
  );
  overflow: hidden;
}

svg {
  pointer-events: none;
}


section {
  background-image: var(--bg);
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  display: flex;

  &::before,
  &::after {
    content: '';
    display: block;
    width: 5vmax;
    height: 5vmax;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    background-image: url('assets/arrow.png');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    filter: invert(1)
  }

  &::before {
    left: 2vmax;
    transform:  translateY(-50%) scaleX(-1);
  }

  &::after {
    right: 2vmax; 
  }

  a {
    width: 50%;
    height: 100%;
    display: block;
    background-color: transparent;
  }
}

/***************************VIEW TRANSITIONS***************************/

body {
  view-transition-name: circle;
}

@view-transition {
  navigation: auto;
}

::view-transition-old(circle) {
  filter: url(#disintegrateEffect);
  animation: disintegrateOut 0.7s ease reverse forwards;
}

::view-transition-new(circle) {
  filter: url(#disintegrateEffect);
  animation: disintegrateOut 0.7s ease forwards;
}

